/* styling for navigation*/

.navbar-brand{
	font-weight: 800;
}

#content{
	margin-top: 150px;
}

.display-2{
	font-family: 'Poppins', sans-serif;
}

.white-text{
	color: #000 !important;
}

.project-body{
	background-color: #fff;
	color: #000 !important;
}
.nav-link-black:hover{
	border-color: blue !important;
}